
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
}
section.chat_section{
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
}
.brand{
    padding: 10px;
    display: flex;
    background: #f1f1f1;
    align-items: center;
}
.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;

}
.message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;

}
textarea{
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #fbfbfb;
    resize: none;
}
.message{
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming{
    background: rgb(4, 195, 4);
    color: #fff;
}

.outgoing{
    background: rgb(154, 243, 154);
    color: #3b3838;
    margin-left: auto;
}
.message h4{
position: absolute;
top: -25px;
left: 0;
color: rgb(5, 72, 50);
    font-size: 14px;
}
footer{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;

}